footer {
    background-color: #353535;
    color: #ffffff;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 27px;
    padding-bottom: 20px;
  }
  
  #footer {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
  }