#header_background_image_homepage {
    background-image: url(../../images/teddy_5.jpg);
}

.header_image {
width: 100%;
height: 35em;
background-size: cover;
}

.titre_header {
    text-align: center;
    font-family: "Shrikhand", cursive;
    position: relative;
    top: 4em;
    font-size: 35px;
    margin: 0;
}

