.section__titremenu {
    display: flex;
    padding-left: 20px;
}

.section__titremenu h1 {
    text-align: left;
    width: 266px;
}
.section__titremenu i {
    padding-top: 10px;
    padding-right: 20px;
    
}



.section_menu {
    background-color:$color-gris-clair;
        padding-top: 25px;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        position: relative;
        top: -43px;
        padding-bottom: 40px;
        margin-bottom: -41px;
}

.menu__entree {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: menu__entree 3000ms;

   
}

.entree {
    animation: entree 1000ms;
}

@keyframes entree{
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.plat {
    animation: plat 2000ms;
}

@keyframes plat{
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0.2;
    }
   
    100% {
        opacity: 1;
    }
}

.dessert{
    animation: dessert 3000ms;
}

@keyframes dessert{
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0.2;
    }
   
    100% {
        opacity: 1;
    }
}


.section__typemenu {
    
    padding-left: 20px;
}



.menu__item{
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    width: 20em;
    margin-right: 2%;
    margin: auto;
    margin-bottom: 10px;
    height: 65px;
    margin-right: 10px;
    margin-left: 10px;
    @include mobile-menu;
  }

.menu__item-direction {
    position: absolute;
    flex: 1;
    padding-left: 12px;
    line-height: 5px;
    padding-top: 5px;
}

.menu__itemprix-direction {
    padding-top: 24px;
    position: relative;
    left: 36px;
    font-weight: 800;
    background-color: white;
}

.marginleftmenu {
    margin-left: 235px;
}
