nav ul
{
    list-style-type: none;
    position: absolute; top: 5%; right: 5%;
    display: flex;
    font-size: small;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    padding-top: 2.9rem;
}