@charset "UTF-8";
.ours1 {
  display: flex;
  background-color: aliceblue;
  width: 50%;
  margin-left: 40px;
}

.ours1_img {
  background-image: url(../../images/teddy_1.jpg);
  width: 10em;
  height: 10em;
  background-size: cover;
}

nav {
  padding-right: 52px;
  padding-top: 8px;
}

nav ul {
  list-style-type: none;
  display: flex;
  font-size: small;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 1.3em;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover {
  color: #0065FC;
  border-top: 1px solid #0065FC;
  padding-top: 2.9rem;
}

.top_menu {
  display: flex;
  justify-content: space-between;
}

#header_background_image_homepage {
  background-image: url(../../images/teddy_5.jpg);
}

.header_image {
  width: 100%;
  height: 40em;
  background-size: cover;
}

footer {
  background-color: #353535;
  color: #ffffff;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 27px;
  padding-bottom: 20px;
}

#footer {
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}

@font-face {
  font-family: "shrik";
  src: url("fonts/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Regular.ttf");
}
html, body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "roboto", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

p {
  font-family: "roboto", Helvetica, Arial, sans-serif;
}

footer a {
  color: #ffffff;
}

.light {
  font-weight: 200;
}

.Shrikhand {
  font-family: "Shrikhand", cursive;
}

.fontsmall {
  font-size: 13px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

#localisation {
  background-color: #eaeaea;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.fa-map-marker-alt:before {
  content: "";
  margin-right: 17px;
}

#titre {
  padding-top: 10px;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

#titre h2, #titre p {
  text-align: center;
}

#titre p {
  padding-bottom: 10px;
}

#titre h2 {
  font-size: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

#titre p {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin-bottom: 2em;
}

.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  padding: 1em;
  border-radius: 10rem;
  text-align: center;
  width: 11em;
  margin: auto;
  font-size: medium;
  font-weight: 400;
}

#fonctionnement {
  margin-top: 50px;
  padding-left: 14px;
  margin-bottom: 45px;
}

#fonctionnement h2 {
  padding-left: 5px;
}

.fonctionnement_item {
  background-color: #f6f6f6;
  font-size: 20px;
  padding: 0.2em;
  border-radius: 25px;
  width: 16.5em;
  margin: auto;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 4px 4px 5px #eaeaea;
}
@media screen and (max-width: 350px) {
  .fonctionnement_item {
    width: 278px;
    margin-left: 1px;
  }
}
.fonctionnement_item:hover {
  background-color: #f5edff;
}
.fonctionnement_item:hover .item__picto-position {
  color: #9356DC;
}

.number {
  font-size: 0.8em;
  float: left;
  padding: 2px;
  position: relative;
  left: -15px;
  background-color: #9356DC;
  color: #ffffff;
  text-align: center;
  border-radius: 77px;
  padding-right: 7px;
  padding-left: 7px;
  margin-top: 21px;
  margin-right: 10px;
}

.font_small {
  font-size: medium;
}

.item__picto-position {
  padding-right: 26px;
}

#restaurant {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f6f6f6;
  padding-bottom: 41px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  background-size: cover;
  width: 100%;
  height: 10em;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.texte {
  background-color: #ffffff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-top: 1px;
  padding-left: 15px;
  display: flex;
}

.texte_bloc {
  width: 255px;
}

.heart {
  padding-right: 20px;
  padding-top: 20px;
  background: no-repeat;
  background-image: url(../../images/logo/heart-regular.svg);
  margin-top: 16px;
}
@media screen and (max-width: 350px) {
  .heart {
    padding-right: 38px;
  }
}

.heart:hover {
  background-image: url(../../images/logo/heart-solid.svg);
}

.svg-inline--fa {
  color: #FF79DA;
}

.position {
  margin-top: -10px;
}

.bloc_restaurant {
  margin: auto;
  width: 20em;
  margin-bottom: 20px;
}

.fa-heart:before {
  content: "";
  font-size: 24px;
}

.nouveau {
  background-color: #99e2d0;
  color: #139273;
  width: 78px;
  height: 20px;
  text-align: center;
  font-size: 13px;
  border-radius: 2px;
  padding-top: 6px;
  position: relative;
  top: 14px;
  left: 68%;
}

.background_image_menilmontant {
  background-image: url(../../images/restaurants/menilmontant.jpg);
}

.background_image_charonne {
  background-image: url(../../images/restaurants/charonne.jpg);
}

.background_image_citerouge {
  background-image: url(../../images/restaurants/citerouge.jpg);
}

.background_image_folie {
  background-image: url(../../images/restaurants/folie.jpg);
}

.fa-utensils:before {
  content: "";
  padding-right: 8px;
}

.fa-hands-helping:before {
  content: "";
  padding-right: 9px;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
