.btn {
    background: linear-gradient(#FF79DA, #9356DC);
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    padding: 4px;
    border-radius: 10rem;
    text-align: center;
    width: 154px;
    font-size: medium;
    font-weight: 400;
  }