.ours1 {
 display: flex;
 background-color: aliceblue;
 width: 50%;
 margin-left: 40px;
}

.ours1_img {
  background-image:url(../../images/teddy_1.jpg);
    width: 10em;
    height: 10em;
    background-size: cover;
}