#liste {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.listeOurs {
 display: flex;
 width: 530px;
 margin: auto;
 margin-bottom: 20px;
 height: 182px;
 border-radius: 20px;
 background-color: white;
 @include mobile_liste_ours
}

.liste_ours_desc{
padding-left: 15px;
padding-top: 15px;
}

.ours_name {
font-size: 25px;
margin: 0;
font-weight: 500;

}

.ours_desc {
  font-weight: 300;
  font-size: 14px;
  height: 62px;
  width: 200px;
}

.price {
  padding-left: 20px;
  font-size: 19px;
  font-weight: 400;
}

.liste_ours_img {
    width: 242px;
    height: 181px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


