.ours1 {
 display: flex;
 background-color: aliceblue;
 width: 50%;
 margin: auto;
 margin-bottom: 20px;
}

.ours1_img {
  background-image:url(../../images/teddy_1.jpg);
    width: 10em;
    height: 10em;
    background-size: cover;
}

.ours1_desc{
padding-left: 10px;
}

.price {
  padding-left: 10px;
}

