#produit {
  display: flex;
  width: 500px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.produit_img {
  width: 400px;
  
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}