$color-violet: #9356DC;
$color-rose: #FF79DA;
$color-vert: #99E2D0;
$color-gris :#eaeaea;
$color-gris-clair :#f6f6f6;
$color-green :#99e2d0;
$color-violet-clair :#f5edff;

$breakpoints-mobile: 350px;

